<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LMSDemoSuite" parallel="tests" thread-count="3">
	

<test name="Continuity2TestLogin" >
	<classes>
		<class name="Continuity2TestLogin.Continuity2TestLogin"/>

		
 	</classes>
</test> <!-- Default test -->

</suite> <!-- Default suite -->

